<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.theepwoodjones.teste"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>testE</name>

    <description>
        A test app for android
    </description>

    <author email="rshopr@hotmail.com">
        Threepwood Jones
    </author>
    
    <gap:platform name="android" />
    
    <feature name="InAppBrowser">
  <param name="android-package" value="org.apache.cordova.InAppBrowser"/>
    </feature>

</widget>
